# Inspección del Dataset VCDE

## Conjunto de datos a utilizar
El objetivo notebook es realizar una inspección preliminar del dataset que fue creado en la práctica 1 por los mismos alumnos del máster. El dataset se denomina Valores Climatológicos Diarios de España, VCDE. Para esta práctica nos hemos quedado con los valores climatológicos diarios de España procedentes del sistema AEMET OpenData. [AEMET OpenData](https://opendata.aemet.es)

## Cargado de datos
Cargaremos los datos procedentes de `data/VCDE_.csv` para que podamos leerlo.

In [35]:
import numpy as np
import pandas as pd

df = pd.read_csv('data/VCDE.csv')

## Manipulación como dataframe de panda
### Comprobación de si el dataframe está vacío

In [36]:
df.empty

False

### Dimensión del dataframe

In [37]:
df.shape

(3090418, 20)

### Número de columnas
Sabemos que el VCDE.csv tiene 20 columnas, pero no sabemos sus nombres. Se puede obtener mediante el atributo `columns`:

In [38]:
df.columns

Index(['fecha', 'indicativo', 'nombre', 'provincia', 'altitud', 'tmed', 'prec',
       'tmin', 'horatmin', 'tmax', 'horatmax', 'dir', 'velmedia', 'racha',
       'horaracha', 'sol', 'presmax', 'horapresmax', 'presmin', 'horapresmin'],
      dtype='object')

### Muestra de los datos
Veamos las filas desde el comienzo con `head()`:

In [39]:
df.head()

,fecha,indicativo,nombre,provincia,altitud,tmed,prec,tmin,horatmin,tmax,horatmax,dir,velmedia,racha,horaracha,sol,presmax,horapresmax,presmin,horapresmin
0,2021-01-01,0252D,ARENYS DE MAR,BARCELONA,74,"7,6","0,0","4,6",Varias,"10,6",13:00,NE,"0,8","6,9",08:10,NaN,NaN,NaN,NaN,NaN
1,2021-01-02,0252D,ARENYS DE MAR,BARCELONA,74,"7,3","0,0","3,5",05:40,"11,1",11:40,NE,"1,1","4,7",22:30,NaN,NaN,NaN,NaN,NaN
2,2021-01-03,0252D,ARENYS DE MAR,BARCELONA,74,"6,3","0,0","2,0",08:20,"10,6",12:40,NNE,"1,9","5,0",20:10,NaN,NaN,NaN,NaN,NaN
3,2021-01-04,0252D,ARENYS DE MAR,BARCELONA,74,"6,4","0,0","1,5",04:00,"11,2",11:20,NNE,"1,1","7,2",06:10,NaN,NaN,NaN,NaN,NaN
4,2021-01-05,0252D,ARENYS DE MAR,BARCELONA,74,"6,6","0,3","1,7",23:20,"11,4",12:20,NNE,"1,4","5,0",11:10,NaN,NaN,NaN,NaN,NaN

Veremos el contenido del final con `tail()`. En particular, dos filas

In [40]:
df.tail(2)

,fecha,indicativo,nombre,provincia,altitud,tmed,prec,tmin,horatmin,tmax,horatmax,dir,velmedia,racha,horaracha,sol,presmax,horapresmax,presmin,horapresmin
3090416,1978-12-30,C447A,TENERIFE NORTE AEROPUERTO,STA. CRUZ DE TENERIFE,632,"16,1","0,0","12,8",06:30,"19,4",12:30,NNE,"1,7","6,1",12:45,"9,6",NaN,NaN,NaN,NaN
3090417,1978-12-31,C447A,TENERIFE NORTE AEROPUERTO,STA. CRUZ DE TENERIFE,632,"16,3","0,0","13,0",09:00,"19,6",13:30,NNE,"4,4","8,9",11:40,"9,9",NaN,NaN,NaN,NaN

In [41]:
df.dtypes

fecha           object
indicativo      object
nombre          object
provincia       object
altitud          int64
tmed            object
prec            object
tmin            object
horatmin        object
tmax            object
horatmax        object
dir             object
velmedia        object
racha           object
horaracha       object
sol             object
presmax        float64
horapresmax    float64
presmin        float64
horapresmin    float64
dtype: object

### Más información del VCDE

In [42]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3090418 entries, 0 to 3090417
Data columns (total 20 columns):
 #   Column       Dtype
---  ------       -----
 0   fecha        object
 1   indicativo   object
 2   nombre       object
 3   provincia    object
 4   altitud      int64
 5   tmed         object
 6   prec         object
 7   tmin         object
 8   horatmin     object
 9   tmax         object
 10  horatmax     object
 11  dir          object
 12  velmedia     object
 13  racha        object
 14  horaracha    object
 15  sol          object
 16  presmax      float64
 17  horapresmax  float64
 18  presmin      float64
 19  horapresmin  float64
dtypes: float64(4), int64(1), object(15)
memory usage: 471.6+ MB

## Descripción
### Estadísticas de sumario

In [43]:
df.describe()

            altitud  presmax  horapresmax  presmin  horapresmin
count  3.090418e+06      0.0          0.0      0.0          0.0
mean   4.323069e+02      NaN          NaN      NaN          NaN
std    4.370447e+02      NaN          NaN      NaN          NaN
min    1.000000e+00      NaN          NaN      NaN          NaN
25%    4.800000e+01      NaN          NaN      NaN          NaN
50%    3.360000e+02      NaN          NaN      NaN          NaN
75%    6.900000e+02      NaN          NaN      NaN          NaN
max    2.371000e+03      NaN          NaN      NaN          NaN

Cálculo de percentiles 5 y 95:

In [32]:
df.describe(percentiles=[0.05, 0.95])

            altitud  presmax  horapresmax  presmin  horapresmin
count  3.090418e+06      0.0          0.0      0.0          0.0
mean   4.323069e+02      NaN          NaN      NaN          NaN
std    4.370447e+02      NaN          NaN      NaN          NaN
min    1.000000e+00      NaN          NaN      NaN          NaN
5%     5.000000e+00      NaN          NaN      NaN          NaN
50%    3.360000e+02      NaN          NaN      NaN          NaN
95%    1.130000e+03      NaN          NaN      NaN          NaN
max    2.371000e+03      NaN          NaN      NaN          NaN