# Adición y eliminación de datos en el Dataset VCDE

## Conjunto de datos a utilizar
El objetivo notebook es realizar una inspección preliminar del dataset que fue creado en la práctica 1 por los mismos alumnos del máster. El dataset se denomina Valores Climatológicos Diarios de España, VCDE. Para esta práctica nos hemos quedado con los valores climatológicos diarios de España procedentes del sistema AEMET OpenData. [AEMET OpenData](https://opendata.aemet.es)

## Cargado de datos
Cargaremos los datos procedentes de `data/VCDE_002.csv`, obtenido en el anterior notebook, para que podamos leerlo.

In [1]:
import pandas as pd
import numpy as np

df = pd.read_csv(
    'data/VCDE_002.csv', sep='|',
    usecols=['fecha','indicativo','nombre','provincia','altitud','tmed','prec','tmin','tmax','dir','velmedia','racha']
)

## Conversiones de datos
Lo primero que tenemos que hacer es consultar los tipos de datos de las diferentes columnas. :

In [2]:
df.dtypes

fecha         object
indicativo    object
nombre        object
provincia     object
altitud        int64
tmed          object
prec          object
tmin          object
tmax          object
dir           object
velmedia      object
racha         object
dtype: object

Además, los valores de variables numéricas tienen como carácter separador de decimales el carácter , en lugar de . Esto puede darnos problemas por lo que vamos a utilizar replace

Convertiremos todos los valores que han sido capturados como object a valores float con `.astype(float, errors = 'raise')`

El campo precipitación tiene tipo object pero no lo transformaremos a float porque tiene valores Ip (inapreciable) cuando la cantidad de precipitación es inferior a 1 mm.

In [5]:

df['tmed'] = df['tmed'].str.replace(',','.')
df['prec'] = df['prec'].str.replace(',','.')
df['tmin'] = df['tmin'].str.replace(',','.')
df['tmax'] = df['tmax'].str.replace(',','.')
df['velmedia'] = df['velmedia'].str.replace(',','.')
df['racha'] = df['racha'].str.replace(',','.')

df['fecha'] = df['fecha'].astype('datetime64[ns]', errors = 'raise')
df['tmed'] = df['tmed'].astype(float, errors = 'raise')
#df['prec'] = df['prec'].astype(float, errors = 'raise')
df['tmin'] = df['tmin'].astype(float, errors = 'raise')
df['tmax'] = df['tmax'].astype(float, errors = 'raise')
df['velmedia'] = df['velmedia'].astype(float, errors = 'raise')
df['racha'] = df['racha'].astype(float, errors = 'raise')


df.dtypes

fecha         datetime64[ns]
indicativo            object
nombre                object
provincia             object
altitud                int64
tmed                 float64
prec                  object
tmin                 float64
tmax                 float64
dir                   object
velmedia             float64
racha                float64
dtype: object

### Más información del VCDE
Después de haber realizado los cambios de tipos de datos anteriores, el conjunto de datos queda de esta forma, para ello, utilizamos `df.info()`:

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3090418 entries, 0 to 3090417
Data columns (total 12 columns):
 #   Column      Dtype
---  ------      -----
 0   fecha       datetime64[ns]
 1   indicativo  object
 2   nombre      object
 3   provincia   object
 4   altitud     int64
 5   tmed        float64
 6   prec        object
 7   tmin        float64
 8   tmax        float64
 9   dir         object
 10  velmedia    float64
 11  racha       float64
dtypes: datetime64[ns](1), float64(5), int64(1), object(5)
memory usage: 282.9+ MB

## Descripción
### Estadísticas de sumario

In [7]:
df.describe()

,altitud,tmed,tmin,tmax,velmedia,racha
count,3.090418e+06,3.090418e+06,2.952854e+06,2.952449e+06,2.788069e+06,2.608458e+06
mean,4.323069e+02,1.498196e+01,9.985878e+00,2.032916e+01,3.115722e+00,1.005783e+01
std,4.370447e+02,7.006868e+00,6.809937e+00,7.828495e+00,2.256712e+00,4.344823e+00
min,1.000000e+00,-1.680000e+01,-2.520000e+01,-1.160000e+01,0.000000e+00,0.000000e+00
25%,4.800000e+01,9.800000e+00,5.000000e+00,1.460000e+01,1.700000e+00,7.200000e+00
50%,3.360000e+02,1.500000e+01,1.010000e+01,2.010000e+01,2.500000e+00,9.200000e+00
75%,6.900000e+02,2.040000e+01,1.520000e+01,2.600000e+01,3.900000e+00,1.220000e+01
max,2.371000e+03,3.740000e+01,3.320000e+01,4.700000e+01,4.330000e+01,6.890000e+01

Calculamos percentiles

In [8]:
df.describe(percentiles=[0.05, 0.95])

,altitud,tmed,tmin,tmax,velmedia,racha
count,3.090418e+06,3.090418e+06,2.952854e+06,2.952449e+06,2.788069e+06,2.608458e+06
mean,4.323069e+02,1.498196e+01,9.985878e+00,2.032916e+01,3.115722e+00,1.005783e+01
std,4.370447e+02,7.006868e+00,6.809937e+00,7.828495e+00,2.256712e+00,4.344823e+00
min,1.000000e+00,-1.680000e+01,-2.520000e+01,-1.160000e+01,0.000000e+00,0.000000e+00
5%,5.000000e+00,3.600000e+00,-1.400000e+00,8.000000e+00,6.000000e-01,4.400000e+00
50%,3.360000e+02,1.500000e+01,1.010000e+01,2.010000e+01,2.500000e+00,9.200000e+00
95%,1.130000e+03,2.620000e+01,2.080000e+01,3.350000e+01,7.500000e+00,1.830000e+01
max,2.371000e+03,3.740000e+01,3.320000e+01,4.700000e+01,4.330000e+01,6.890000e+01

Guardamos el conjunto de datos VCDE

In [13]:
df.to_csv('data/VCDE_003.csv', sep='|')